$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #6E72AC;
$secondary_paletteKeyColor: #75758B;
$tertiary_paletteKeyColor: #936B84;
$neutral_paletteKeyColor: #77767D;
$neutral_variant_paletteKeyColor: #777680;
$background: #131318;
$onBackground: #E4E1E9;
$surface: #131318;
$surfaceDim: #131318;
$surfaceBright: #39393F;
$surfaceContainerLowest: #0E0E13;
$surfaceContainerLow: #1B1B21;
$surfaceContainer: #1F1F25;
$surfaceContainerHigh: #2A292F;
$surfaceContainerHighest: #34343A;
$onSurface: #E4E1E9;
$surfaceVariant: #46464F;
$onSurfaceVariant: #C7C5D0;
$inverseSurface: #E4E1E9;
$inverseOnSurface: #303036;
$outline: #91909A;
$outlineVariant: #46464F;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #BEC2FF;
$primary: #BEC2FF;
$onPrimary: #272B60;
$primaryContainer: #3E4278;
$onPrimaryContainer: #E0E0FF;
$inversePrimary: #555992;
$secondary: #C5C4DD;
$onSecondary: #2E2F42;
$secondaryContainer: #444559;
$onSecondaryContainer: #E1E0F9;
$tertiary: #E8B9D5;
$onTertiary: #46263B;
$tertiaryContainer: #AE849E;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #E0E0FF;
$primaryFixedDim: #BEC2FF;
$onPrimaryFixed: #11144B;
$onPrimaryFixedVariant: #3E4278;
$secondaryFixed: #E1E0F9;
$secondaryFixedDim: #C5C4DD;
$onSecondaryFixed: #191A2C;
$onSecondaryFixedVariant: #444559;
$tertiaryFixed: #FFD8EE;
$tertiaryFixedDim: #E8B9D5;
$onTertiaryFixed: #2E1126;
$onTertiaryFixedVariant: #5E3C52;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #1A1A21;
$term1: #D954FF;
$term2: #64DCF0;
$term3: #FFDCEE;
$term4: #8AADD4;
$term5: #C19BE4;
$term6: #8CD2F3;
$term7: #E9D3DC;
$term8: #C6B4BD;
$term9: #F1A5FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #C6DFF4;
$term13: #EECFFF;
$term14: #F6FBFF;
$term15: #E1E0FD;
